<%- partial('../navbar.ejs') %>
<div class="container ">
  <div class="row">
    <div class="col-md-6 col-md-offset-2 main-container">
      <div class="page-header">
        <h3>Profil</h3>
      </div>
      <div class="form-group">
        <label for="username">Nom d'utilisateur :</label>
        <span class="pull-right"><%- user.username %></span>
      </div>
      <div class="form-group">
        <label for="email">Email :</label>
        <span class="pull-right"><%- user.email %></span>
      </div>
      <form method="post" id="updateUserForm">
        <div class="form-group">
          <label for="lastname">Nom :</label>
          <input type="text" id="lastname" class="form-control" value="<%- user.lastName %>" >
        </div>
        <div class="form-group">
          <label for="firstname">Prénom :</label>
          <input type="text" id="firstname" class="form-control" value="<%- user.firstName %>" >
        </div>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <button type="submit" class="btn btn-default">Mettre à jour les infos</button>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('#updateUserForm').on('submit', function(e) {
    e.preventDefault();

    var lastName = $('#lastname').val();
    var firstName = $('#firstname').val();
    var data = {};
    if(lastName){ data.lastName = lastName}
    if(firstName){ data.firstName = firstName}
    console.log(data);
    if(!jQuery.isEmptyObject(data)){
      console.log('ajax');
      $.ajax({
        url: "/user/<%- user.username%>",
        type: "post",
        data: data,
        success: function() {
          alert('Vos données ont été mises à jours !')
        },
        error: function(err){
          alert('Oops : Quelque chose s\'est mal passé');
          console.log(err);
        }
      });
    }
  });
});

</script>
